[2020-07-09 06:40] MattiasNilsson opened #2 "Mixes tabs and spaces in assets/js/bco-checkout.js"
The file should be changed to contain spaces only. So 1 tabs -> 4 spaces.

Mixes tabs and spaces in assets/js/bco-checkout.js

[2020-07-09 07:28] MattiasNilsson opened #3 "Remove all console.log from assets/js/bco-checkout.js"
Remove all console.log from assets/js/bco-checkout.js to have a proper Production output.

[2020-07-09 07:36] MattiasNilsson opened #4 "Duplicate code fragment in assets/js/bco-checkout.js"
On rows 72 https://github.com/Billmate/billmate-checkout-for-woocommerce/blob/master/assets/js/bco-checkout.js#L72 and 88 https://github.com/Billmate/billmate-checkout-for-woocommerce/blob/master/assets/js/bco-checkout.js#L88 there are duplicate code fragments.

This needs to be either added as a function or streamline into a single way of handling.

[2020-07-09 07:42] MattiasNilsson opened #5 "Wrong indentation for method load_scripts() in Billmate_Checkout_For_WooCommerce"
Row 237 to 274 are having one indentation too much https://github.com/Billmate/billmate-checkout-for-woocommerce/blob/master/billmate-checkout-for-woocommerce.php#L238

This needs to follow the rest of the class and PHP files.

[2020-07-09 07:59] MattiasNilsson opened #6 "Move documentation to ReadMe"
<div>Billmate Checkout for WooCommerce is a plugin that extends WooCommerce, allowing you to take payments via Billmate.
</div>

*   The plugin can be [downloaded for free here](#).
*   You need an [agreement with Billmate](https://www.billmate.se/kontakt/) to be able to use this plugin.
*   WooCommerce 3.0 or newer is required.
*   PHP 5.6 or higher is required.
*   A SSL Certificate is required.

[2020-07-09 08:25] MattiasNilsson opened #7 "Include the tests to be run by PHPCS (PHP codesniffer)"
When the PHPCS command are run in the Github Actions pipeline it excludes the tests.

`Run ~/.composer/vendor/bin/phpcs main --standard=WordPress --extensions=php --ignore=/tests`

These need to be included also and follow the same standard as the rest of the code.

[2020-07-10 12:31] Kristian-Andersson commented on #2
Fix: https://github.com/Billmate/billmate-checkout-for-woocommerce/commit/e158367f4364ed7231c660cb3579c377e4418182

[2020-07-10 12:31] #2 closed

[2020-07-10 12:33] Kristian-Andersson commented on #5
Fix: https://github.com/Billmate/billmate-checkout-for-woocommerce/commit/417979d6b36bf8f4f027a0dbcc06c1e3f2b0f727

[2020-07-10 12:33] #5 closed

[2020-07-10 13:53] Kristian-Andersson commented on #4
Fix: https://github.com/Billmate/billmate-checkout-for-woocommerce/commit/34d4dad0739c5af3a61cfdb66209d6b8aeb6d2cc

[2020-07-10 13:53] #4 closed

[2020-07-14 13:07] OskarOstlund opened #8 "Webpage download Href broken."
https://docs.krokedil.com/article/361-billmate-checkout-introduction
In the webpage above is there a link that is supposed to download the module. However currently is the link broken and only direct you to #.

[2020-07-15 05:50] OskarOstlund opened #9 "Bank and Cardpayment gives error message gets the checkout stuck in success URL."
![image](https://user-images.githubusercontent.com/58035708/87506159-ecce5680-c66a-11ea-873a-378c6b318813.png)

Would an user make either a bank or a cardpayment in the checkout will an error message appear as can be seen above. However despite the error message will an order be placed both on BO and in the store.

![image](https://user-images.githubusercontent.com/58035708/87506458-9f061e00-c66b-

[2020-07-15 07:07] OskarOstlund opened #10 "Discount Coupons are applied to all items rather than listed separately resulting in confusing invoices."
![image](https://user-images.githubusercontent.com/58035708/87513230-aaac1180-c678-11ea-8402-ebb59b40c89e.png)

Would you buy an item with a discount invoice as the example seen above, instead of including the discount as a separate item with a negative cost are the discount taken from the separate cost of the items, as can be seen in the picture below.
![image](https://user-images.githubuserconte

[2020-07-15 11:34] OskarOstlund opened #11 "Swish payments get order number 0"
Would you make a swish payment, despite what order number is recorded in the store will BO get an order number of 0.

[2020-07-20 07:21] MichaelBengtsson commented on #10
This is how WooCommerce works as standard. A coupon is applied to all the products in the cart. If you want a discount to show up as its own discounted line, then you need to add it as a negative fee. But this is not the standard in WooCommerce

[2020-07-20 07:22] MichaelBengtsson commented on #8
We will make sure that this is working when the plugin is released for people to start using it. At the moment i believe we are only doing internal testing?

[2020-07-21 07:25] OskarOstlund opened #12 "No way to add an invoice fee."
Currently is there no way for a merchant to add a handling fee when their customer decides to pay through an invoice. In the old module was this a simple textbox where the merchant could write down the price excluding moms and a dropbox where the merchant could add the taxerate on their own (see image attached below).
![P-01](https://user-images.githubusercontent.com/58035708/88024892-c2c9d800-cb3

[2020-07-21 08:10] NiklasHogefjord commented on #12
@OskarOstlund Is it what is described as _handling_ in https://billmate.github.io/api-docs/#initcheckout that is used for Invoice fee?

[2020-07-21 08:18] OskarOstlund commented on #12
Yes.

[2020-07-21 08:30] OskarOstlund opened #13 "checkout loading overlay is missing."
Would an user do something that would require the checkout to update such as changing the delivery method will the checkout return no feedback and allow the user to interact with it. This is in contrast with the previous module where a loading icon is overlaid on the checkout as visual feedback to the user. The user was also prevented from interacting with the checkout when this loading animation

[2020-07-21 09:26] NiklasHogefjord commented on #12
OK, we'll take a look at this.

[2020-07-28 07:16] OskarOstlund opened #14 "Cancelled invoice PDF still shows old payment."
Would you cancel an invoice from the woocommerce module is the order cancelled in our system, however the PDF invoice does not get updated in BO. This is in contrast to when one makes a cancelpayment API call manually where the PDF is updated to say that the customer should not pay anything.

[2020-07-28 10:47] OskarOstlund opened #15 "Refund does not work."
Would you attempt to refund a payment from the module are you met with an error message saying "Ett fel uppstod när du försökte att skapa återbetalningen med betalningsgatewayen API."

[2020-07-29 06:32] OskarOstlund opened #16 "updating an order in store does not update it in BO."
Would a merchant attempt to update their order in their store by adding or removing items will this update in the store, however no update payment apicall is made. This leaves a discrepancy between the store and the BO website.

![P-01](https://user-images.githubusercontent.com/58035708/88764814-e6190680-d175-11ea-9afa-ecdc7543b4c3.png)
As can be seen above do we have one order in the store that h

[2020-07-29 09:49] OskarOstlund opened #17 "Articles with a negative cost does not get a taxrate."
Would you buy a product that cost less than zero will the store calculate the correct moms, however the addPayment API call made to BO will have a tax of 0 resulting in different costs in the store and the invoices generated by BO.
![P-01](https://user-images.githubusercontent.com/58035708/88785450-7e70b480-d191-11ea-8746-57c7b32f2d2d.png)

[2020-07-30 08:07] OskarOstlund opened #18 "Pay for Order should not exist as an alternative"
You can currently chose between Pay for Order and billmate checkout flow in the billmate setting page, this is entirely pointless as the pay for order only adds an alternative to use the billmate checkout. This setting should be removed entirely and the merchant should only be able to use the checkout.

![image](https://user-images.githubusercontent.com/58035708/88898054-83466e80-d24c-11ea-9d2a-87

[2020-07-31 07:04] NiklasHogefjord commented on #18
@OskarOstlund I agree that the _Pay for order_ wording in the setting isn't very good at all. However, our intention here was that this could be an alternative checkout flow for merchants that have features in the checkout that isn't compatible with an embedded iframe based checkout.

But if you want us to remove this setting we will do that.

[2020-07-31 07:06] NiklasHogefjord commented on #17
@OskarOstlund Can you provide me with a scenario when a negative cost with a negative vat is used? How do you set this up in your store?

[2020-07-31 07:07] NiklasHogefjord commented on #16
I will get in touch with you @MattiasNilsson before we proceed with this issue.

[2020-07-31 07:17] NiklasHogefjord commented on #14
Not sure I understand this @OskarOstlund. We use cancelPayment for this. Is it something that needs to be changed in the request or do we need to make yet another request to update the PDF invoice in BO?

[2020-08-03 07:11] NiklasHogefjord opened #19 "en language sent in InitCheckout request gives 50018 error"
The documentation says that English locale ( _en_ ) is supported. But when trying we get a 50018 error response.

Here is the request and the response we're getting:

08 - 03 - 2020 @ 09: 03: 38
{
	"id": null,
	"type": "POST",
	"title": "BCO init checkout",
	"request": {
		"headers": {
			"Content-Type": "application\/json"
		},
		"method": "POST",
		"body": {
			"credentials": {
				"id": "17882"

[2020-08-04 05:28] OskarOstlund commented on #17
I created an article with the cost of -20 SEK in the store as can be seen below:
![image](https://user-images.githubusercontent.com/58035708/89255185-5d8ce100-d621-11ea-9628-cde0e381d5de.png)
This would then simply create a vat from the item that is negative as can be seen in the completed order in the store vs the invoice in BO. As you can see below do the item with a cost of -20 SEK has a negati

[2020-08-04 05:33] NiklasHogefjord commented on #17
Thanks @OskarOstlund!

[2020-08-04 06:29] OskarOstlund commented on #14
No, cancel payment should be enough, making a manual cancelPayment APIcall to one of the invoices created by the module do however update the attached PDF correctly. Having dug around is this due to the cancelPayment API call made by the module does not include BILLMATE_SERVER and BILLMATE_CLIENT, this does not update the PDF in BO.
![image](https://user-images.githubusercontent.com/58035708/89259

[2020-08-04 11:08] OskarOstlund opened #20 "Version and Client is missing from some APIcalls."
Related to https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/14

Some APIcalls lacks both BILLMATE_SERVER and BILLMATE_CLIENT in the API calls, these are at the very least;

* activatePayment
* cancelPayment.
* getPaymentinfo.
* updatePayment.

it is not known if it works or not for other APIcalls except add payment where these are saved.

[2020-08-06 05:15] NiklasHogefjord commented on #9
Wrong hook was used to redirect customer to thank you page. This should be fixed now.

[2020-08-06 05:21] NiklasHogefjord commented on #3
One idea @MattiasNilsson.

Let's introduce a minified version of the file (bco-checkout.min.js) file that doesn't include any console.log. But if SCRIPT_DEBUG is defined in wp-config.php the regular bco-checkout.js file is enqueued and the console.log is still there. That would make it a bit easier in some troubleshooting scenarios.

Would that be ok?

[2020-08-06 05:40] MattiasNilsson commented on #3
@NiklasHogefjord That sounds perfect!

[2020-08-06 05:41] MattiasNilsson commented on #8
@MichaelBengtsson That is correct.

[2020-08-06 05:51] NiklasHogefjord commented on #3
Great, thanks :)

[2020-08-06 07:18] NiklasHogefjord commented on #20
I'm guessing that it is version and client in this part you are referring to @OskarOstlund https://billmate.github.io/api-docs/#authentication.

Is it ok to use it like the following:

**version**: BCO [current Billmate Checkout for WooCommerce version]. WC [current WooCommerce version].
**client**: Customers user agent

[2020-08-06 11:06] OskarOstlund opened #22 "card and bank payments gets no updatePayment API call updating ordernumber."
As the title suggest are no updatePayment API call made to update the order number. This means that while the order number is saved as for an example 129 in the store are all numbers saved as 0 in BO resulting in confusion when one needs to double check the order there compared to the one in the module.
![image](https://user-images.githubusercontent.com/58035708/89521298-89ee5c00-d7df-11ea-8e85-4c

[2020-08-07 06:14] NiklasHogefjord commented on #11
@OskarOstlund How do we simulate a payment via Swish? I don't see any test credentials/phone number for this. When I try with my own phone number I don't see anything in my Swish app. The checkout is waiting for an answer but eventually it reaches a timeout.

![image](https://user-images.githubusercontent.com/985946/89615022-ef952380-d885-11ea-87c0-0fb83d7787c4.png)

[2020-08-07 06:57] NiklasHogefjord commented on #22
We will look into this. It seems that we get timeouts from time to time in our requests to your server. We will try to increase the timeout time to see if that solves the issue.

[2020-08-11 05:01] OskarOstlund commented on #11
There sadly enough is no way to do that with our platform. What I must do when testing it myself is to make a Swish Payment to the Angry Andy Test Account in the live mode and then refund the order. If you want to test things using this method could you contact us and we could refund the swish payments for you.

[2020-08-11 08:36] NiklasHogefjord commented on #11
Thanks, I'll get in direct touch with you so we can test this :).

[2020-08-11 09:19] OskarOstlund opened #23 "cURL error timeout"
One issue that at times appear when one makes a purchase is that the order comes through and you are directed to the success page, however despite that does a warning appear that says cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received.

It does not happen every time an order is placed and in rare instances does it happen even with the checkout. This can be seen in the

[2020-08-11 09:37] NiklasHogefjord commented on #23
@OskarOstlund Can you test the Develop branch? We have bumped the timeout time to 10 seconds now.

[2020-08-11 09:39] OskarOstlund commented on #23
I am currently on that branch, however it was a few days since I updated it so I can give it another go and see if I can get the issue to appear again.

[2020-08-11 10:22] OskarOstlund opened #24 "The cart checkout-left is still interactive on successURL"
![image](https://user-images.githubusercontent.com/58035708/89885482-6c4c3880-dbcb-11ea-865b-1326fb8826cb.png)

As can be seen above when you are redirected to the billmate success URL are the menu on the left of the billmate module still interactive. While the order does not change and has the correct prize on it when one is taken to the final success URL. However the fact that one can update the

[2020-08-12 06:12] OskarOstlund opened #25 "Purchases at times return Billmate Error code: 50015."
At times when one makes a purchase will you be redirected to the success URL page but you are still given a "Billmate Error Code: 50015. Checkout: Hash var tom" error message. This is not something that happens every time but should still be fixed.

![image](https://user-images.githubusercontent.com/58035708/89980550-69585300-dc72-11ea-8c84-4ed46cbf4e2c.png)

[2020-08-13 05:46] #3 closed

[2020-08-13 09:50] stefanliden opened #28 "UTF8-error"
ÄÅÖ dosent work ![image](https://user-images.githubusercontent.com/13320183/90120984-b2d09d00-dd5b-11ea-8369-cef79f910ba3.png)

![image](https://user-images.githubusercontent.com/13320183/90120347-ee1e9c00-dd5a-11ea-9c04-24e11dc3da50.png)

[2020-08-13 09:57] OskarOstlund opened #29 "Paying for the same order twice results in a fatal error"
If you create an order and then open the checkout in two different tabs and pay with card payment are you met with the following error message:

Billmate Error Code: 50015. Checkout: Hash var tom

Fatal error: Uncaught Error: Call to a member function set_payment_method_title() on bool in C:\xampp\htdocs\WoocommerceKrokodil\wp-content\plugins\billmate-checkout-for-woocommerce\includes\bco-function

[2020-08-13 10:03] stefanliden opened #30 "Set terms of purchase and policy page is missing"
There is no field to select the terms of purchase and policy page in the settings.

Once you have selected this, you will be directed to these links when logged in to Billmate Checkout

InitCheckout
	"CheckoutData": {
		"windowmode": "iframe",
		"redirectOnSuccess": "true",
		"sendreciept": "yes",
		**"terms": "xxxx",
		"privacyPolicy": "xxx"**
	},

![image](https://user-images.githubusercontent.c

[2020-08-13 10:19] stefanliden opened #31 "Custom approved order status setting"
You should be able to choose what the status of the order should be when a purchase has been made with Billmate Checkout in normal cases it should be processing but if you have selected completed as status then the order should automatically send an activatePayment to Billmate so customers do not change the status manually.

![image](https://user-images.githubusercontent.com/13320183/90123192-b6b1

[2020-08-13 10:24] stefanliden opened #32 "View order listings on the Checkout page."
There should be a setting in the setting  to choose whether you want customers to write a message or not to the store. This text will been shown the WooCommerce order detail view.

![image](https://user-images.githubusercontent.com/13320183/90123831-b8c87d00-dd5f-11ea-97a4-0126f4d98a80.png)
![image](https://user-images.githubusercontent.com/13320183/90123920-dc8bc300-dd5f-11ea-9c08-3a7358d7e68c.pn

[2020-08-13 10:27] stefanliden opened #33 "Checkout B2C/B2B mode is missing"
There must be a function to choose whether you want to highlight the B2B or B2C first in the Checkout
![image](https://user-images.githubusercontent.com/13320183/90124154-3c826980-dd60-11ea-897f-4789e0a2f708.png)
![image](https://user-images.githubusercontent.com/13320183/90124191-4a37ef00-dd60-11ea-96a9-9462388294bb.png)

[2020-08-13 10:32] stefanliden opened #34 "Setting for send activation calls to Billmate"
There should be a setting if you want to enable/disable (ActivatePayment,CancelPayment,CreditPayment) call to be sent to Billmate when a order is changed in WooCommerce. Many customers do not want a sync beetween WooCommerce and Billmate when order status is changed in WooCommerce.

![image](https://user-images.githubusercontent.com/13320183/90124349-89664000-dd60-11ea-9cbe-557372f1790c.png)

[2020-08-13 10:41] stefanliden opened #35 "Logotype displayed on invoice setting"
Many of our customers have many different stores but use the same Billmate ID. Therefore, we should have a function in WooCommerce that you can point in the settings which logo should be displayed on the invoice when you make the purchase in a specific store.

Example. One customer has two store, redColor shop and bluePaint shop. If the customer uploads two logos in their Billmate account and uplo

[2020-08-13 10:50] stefanliden opened #36 "Missed Billmate Checkout payment information"
Thanks page, WooCommerce order, Order confirmation email are not showing Billmate Checkout + payment method.

Example

Billmate Checkout invoice,
Billmate Checkout ParyPayment + Months
Billmate Checkout Swish,
Billmate Checkout DirectPayment / Trustly

![image](https://user-images.githubusercontent.com/13320183/90125765-d8ad7000-dd62-11ea-9020-458e45d64698.png)
![image](https://user-images.githubu

[2020-08-14 06:39] NiklasHogefjord commented on #36
@stefanliden So it should be named:

[Title set in plugin settings] [ Payment method selected in BCO]

Correct?

As for the last image (on the order page) I don't think that is possible to filter/change, but I will look into it.

[2020-08-14 06:44] NiklasHogefjord commented on #34
@stefanliden Do you mean that customers only might want to use the _activate_ feature but not the _cancel_ feature?

Currently we have it as one single setting but that can be changed if you want.

![image](https://user-images.githubusercontent.com/985946/90221358-5a0c0d80-de0a-11ea-8c07-4d729f3ccd18.png)

[2020-08-14 15:08] #18 closed

[2020-08-14 15:38] #20 closed

[2020-08-16 15:30] NiklasHogefjord commented on #32
This does not have to be included in a payment gateway setting. My suggestion is that this is handled site wide instead by the merchant.

There is a filter that can be used for hiding the Customer note field:

`add_filter( 'woocommerce_enable_order_notes_field', '__return_false' );`

[2020-08-16 15:35] NiklasHogefjord commented on #31
We did talk about this before we started the project. My suggestion was to use the function `payment_complete()` and let WooCommerce handle what status the order should be changed to (and send the appropriate emails). This was accepted by Billmate team.

My suggestion is that we go with what we decided earlier.

[2020-08-16 15:47] NiklasHogefjord commented on #30
@stefanliden I've added it now in this branch - https://github.com/Billmate/billmate-checkout-for-woocommerce/tree/issue-%2330. It will send the Privacy policy page set in WooCommerce setting (if it has been set).

[2020-08-19 12:55] OskarOstlund opened #39 "Orders show up in the store even if the order isn't completed."
Would you create an order and select to pay either with card or bank payment will an order be created in the store even before we have completed what is required by either Swedbank pay or trustly. This would normally not be an issue as when they are done will the order be sent to BO. However would the customer either decide against the order and close down the order or simply disconnect from the i

[2020-08-20 07:03] #35 closed

[2020-08-20 07:25] #13 closed

[2020-08-20 07:55] #33 closed

[2020-08-20 08:51] #28 closed

[2020-08-20 09:34] OskarOstlund opened #44 "cancelPayment API calls still lacks version and client."
Related to [# 20](https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/20)

As can be seen in this API call

apiLogsid | 38516368
-- | --
Billmate ID (id) | 17882
Funktion | cancelPayment
params | { 	"number": "549120" }
hash | be77828985965cacea106d0bd08fd142a0ace6729313a97a76aaf8b182857f60246e9040773d2b960ac4a72c792fc4d133a6db68155f3518aa548a532bffd5f9
Respons | {
        "creden

[2020-08-20 10:28] OskarOstlund opened #45 "Checkout is not updated before the loading overlay is removed."
Related to [#13](https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/13)

When you now update the price of an order in the checkout, for an example when switching between various delivery methods, do you now correctly get the loading overlay and you are not able to interact with the comments. However the loading overlay is done and removed before the checkout has updated itself. I

[2020-08-24 14:24] #25 closed

[2020-08-24 14:37] #19 closed

[2020-08-25 05:16] MattiasNilsson commented on #32
@NiklasHogefjord Why WontFix?

[2020-08-25 05:17] MattiasNilsson commented on #31
As stated we are using that approach as we spoke of in the beginning.

[2020-08-25 05:17] #31 closed

[2020-08-25 05:34] OskarOstlund commented on #23
This seems to have been fixed as I have been unable to reproduce the error during testing.

[2020-08-25 05:55] OskarOstlund opened #49 "custom payment method does not empty the cart."
A customer can in BO have their own custompayment method in the checkout that is not sent to BO. This could for instance be an alternative to place the order online and pay in a physical store when you pick up your order. As this does not concern billmate is no information sent to BO but an order is created in the store as it should.

![image](https://user-images.githubusercontent.com/58035708/911

[2020-08-25 07:51] NiklasHogefjord commented on #32
@MattiasNilsson Why should it be a setting in a specific payment method?

[2020-08-25 07:53] NiklasHogefjord commented on #23
Sounds good. Fixed in 22d6552850033908ef526daa862d6f8ab0fb795a. Closing this now.

[2020-08-25 07:53] #23 closed

[2020-08-26 07:49] OskarOstlund opened #50 "It is currently possible to leave a completed order before success URL, this does not update the order number."
![image](https://user-images.githubusercontent.com/58035708/91267497-cc1e1400-e773-11ea-98c7-3c6de08c6487.png)
As can be seen in the results above is it currently possible to create an order, and press the place order button in the checkout but leave before you are redirected to the success URL. This results in no update order being sent to BO not updating the order number.  You cannot even attemp

[2020-08-27 13:01] NiklasHogefjord commented on #49
@OskarOstlund I'm not sure I understand. What other payment method did you use to create this order displayed in the image?

[2020-08-27 13:06] NiklasHogefjord commented on #44
@OskarOstlund You need to use the current version of this plugin to check this: https://github.com/Billmate/billmate-order-mangement-for-woocommerce. Can you test again?

[2020-08-27 13:10] NiklasHogefjord commented on #39
@OskarOstlund This is the intended flow of the plugin.

This is similar to how other payment methods work (for instance PayPal). When the customer clicks the pay button the order is created (as a Pending order) in the e-commerce store and then, in the next step, the order is paid for.

[2020-08-31 05:03] OskarOstlund commented on #49
You could either use custompayment method, or you could use a card payment and with the Swedbank test card
Card number: 5226612199533406
Expiry: 09/28
CVC: 602
and select a payment that fails, any method that begins a purchase but does not complete it that I have tried yields this result.

[2020-08-31 05:40] OskarOstlund commented on #39
Will this not result in confusion if the order fails for whatever reason? From what I can see would both a failed and a successful cardpayment show up as "inväntar betaling".

[2020-08-31 06:39] NiklasHogefjord commented on #39
A successful card payment will get the order status "Behandlas" (eller Färdigbehandlad).

If you get "Inväntar betalning" with a successful card payment, there is something wrong. I know you have reported an issue in https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/9, but that should have been fixed now. I will double check to see that all payment methods work fine.

[2020-08-31 07:46] OskarOstlund commented on #44
Having pulled the latest version of the master branch both in order management and checkout do I not even get any "Billmate reservation was successfully cancelled is created." notification nor is the order cancelled in BO. This is despite me first setting the order as Processing/Behandlas, then setting the status as cancelled/avbruten.

Or do you have it committed to another branch?

[2020-08-31 07:49] OskarOstlund commented on #39
Despite having pulled the latest master branches are all successful card payments still saved as "inväntar betaling".

[2020-08-31 08:07] NiklasHogefjord commented on #39
I could not recreate the issue but I see that there was a problem in one helper function. I have fixed that now. Could you grab the latest version from Master branch and test again @OskarOstlund?

[2020-08-31 08:12] NiklasHogefjord commented on #44
@OskarOstlund You should not need to set the order status to "Processing" first. Can you see that the order is successfully placed initially, before you try to cancel it from WooCommerce?

The order notes should look something like this if everything is ok:

![image](https://user-images.githubusercontent.com/985946/91698068-6a461b80-eb72-11ea-8aeb-c5f446f5cfac.png)

[2020-08-31 08:21] OskarOstlund commented on #39
![image](https://user-images.githubusercontent.com/58035708/91698313-cdd04900-eb72-11ea-9463-3177446e1ade.png)
No, I still get orders saved as "Inväntar betalning". Both when I made a cardpayment as a test order or when I did it live with a real card. It does however work when I attempt to do so with an invoice payment for instance.

[2020-08-31 08:37] OskarOstlund commented on #44
![image](https://user-images.githubusercontent.com/58035708/91700126-aaf36400-eb75-11ea-86ea-d6eb08e7bb32.png)
Even a successful order that is made as "Processing" without my help is not given the correct return nor do I see any changes on BO.

And if it does not need to be "processing" before we update it maybe we should change the order management introduction page that claims that an order need

[2020-09-01 09:26] NiklasHogefjord commented on #45
How do we accomplish this @OskarOstlund? At the moment we do it in the following sequence:

1. Customer changes shipping method.
2. Billmate Checkout is locked.
3. An update request is sent from Woo to Billmate.
4. When the respons from the request is received `postMessage('update', '*')` is triggered.
5. `postMessage('unlock', '*')` is triggered.

Shouldn't the checkout be ready with the new and

[2020-09-01 11:05] MattiasNilsson commented on #45
@NiklasHogefjord This is due to cache, so you need to do the 4 and 5 step to achieve full update.

[2020-09-01 11:27] NiklasHogefjord commented on #45
OK, thanks for the clarification @MattiasNilsson. But how come the price in Billmate Checkout doesn't change until approximately 1 second _after_ step 5?

[2020-09-03 05:28] MattiasNilsson commented on #45
@NiklasHogefjord It all depends on the load of the server.

[2020-09-03 05:30] OskarOstlund opened #52 "Order Management doesn't work."
The order management plugin has stopped working. Currently would you try to cancel, activate, or credit an invoice will no information be sent to BO nor will the store get a callback answer causing differences between the invoices in BO and the store.
![image](https://user-images.githubusercontent.com/58035708/92074556-a2d63700-edb6-11ea-9997-99f42419cd1b.png)
This can be seen in the image above w

[2020-09-03 05:58] NiklasHogefjord commented on #50
This should be fixed now in d08c00560bfb91d4d0a436e03b542ed220ef05a5

[2020-09-03 06:06] OskarOstlund commented on #50
This at least works for invoices and part payments, I assume it would also work for bankpayments and cardpayments when they have been fixed too but that would need to be tested then.

[2020-09-03 06:09] OskarOstlund opened #53 "Cardpayments no longer work"
Would you currently attempt to make a cardpayment will you be met with the following message:
![image](https://user-images.githubusercontent.com/58035708/92076757-580aee00-edbb-11ea-8309-d8d7cd650a86.png)

[2020-09-03 06:12] NiklasHogefjord commented on #52
Hi @OskarOstlund, I just tested and it works for me. I guess this is related to your setup. Did you double check to the that the Order Management plugin is activated and enabled in the plugin settings?

[2020-09-03 06:20] OskarOstlund commented on #52
Yes, this was my bad it was on my side as suggested and was easily fixed.

[2020-09-03 06:34] NiklasHogefjord commented on #53
Closing this since it seems to be a temporary Billmate issue. Not related to the plugin.

[2020-09-03 06:34] #53 closed

[2020-09-03 06:52] NiklasHogefjord commented on #24
@MattiasNilsson & @OskarOstlund I have a branch here https://github.com/Billmate/billmate-checkout-for-woocommerce/tree/issue-%2324, that adds a modal over the entire page. It looks like this at the moment but can be improved.

![image](https://user-images.githubusercontent.com/985946/92081020-bdaea880-edc2-11ea-8624-33c628edd99c.png)

Would that be ok?

[2020-09-03 06:59] MattiasNilsson commented on #36
@NiklasHogefjord This is correct.

[2020-09-03 06:59] NiklasHogefjord commented on #22
@OskarOstlund This should have been fixed now via d08c00560bfb91d4d0a436e03b542ed220ef05a5 and 22d6552850033908ef526daa862d6f8ab0fb795a

[2020-09-03 07:00] MattiasNilsson commented on #34
@NiklasHogefjord What @stefanliden means is that the Customers may want to have the option to toggle the single operations off and on.

[2020-09-03 07:37] OskarOstlund commented on #22
Are those changes committed to the master branch yet? Because it is not working when I attempt to place an order with a bank transfer at the very least;
![image](https://user-images.githubusercontent.com/58035708/92085416-141ee580-edc9-11ea-8c83-50272d9019ac.png)

[2020-09-03 07:55] #52 closed

[2020-09-03 14:25] #36 closed

[2020-09-03 14:26] NiklasHogefjord commented on #49
After discussion with @MattiasNilsson we decided to close this ticket without solving it at the moment.

[2020-09-03 14:26] #49 closed

[2020-09-03 14:48] NiklasHogefjord commented on #44
I tested now. Here is the data we send and receive in the cancel request:

[code]
The order notes for the order looks like this:

![image](https://user-images.githubusercontent.com/985946/92130413-fec7ac80-ee04-11ea-944f-65d206536b13.png)

I have updated the Order Management plugin so no cancel request is sent to Billmate if the order hasn't been payed for.

[2020-09-03 14:52] NiklasHogefjord commented on #39
At the moment we can't test the card payment flow since there seem to be a problem with mixed content in BCO.

![image](https://user-images.githubusercontent.com/985946/92131042-c6749e00-ee05-11ea-9d94-e38327ff3586.png)

[2020-09-03 15:01] NiklasHogefjord commented on #29
Tested now. Seems as this has been solved when I improved the flow for confirmation of the order in Woo and update the payment number in BO.

[2020-09-03 15:01] #29 closed

[2020-09-03 15:35] NiklasHogefjord commented on #22
You are correct @OskarOstlund, something isn't correct with Bank transfer.

An updatePayment call is triggered for me but I get the following response:

[code]

If it isn't possible to update the webstore Order ID in this sequenze we have a major problem with the current checkout/order creation flow.

[2020-09-03 15:38] #17 closed

[2020-09-03 15:52] #15 closed

[2020-09-03 15:53] #16 closed

[2020-09-07 10:03] anfly0 commented on #15
@NiklasHogefjord Is this fixed? I can't get it to refunds to work with the current master head.

[2020-09-07 10:31] anfly0 commented on #16
@MattiasNilsson @NiklasHogefjord
Why is this issue closed?
Is it supposed to be fixed or are we not fixing it?
I can't get this to work at all. I'm having the exact same issue as in the description.

[2020-09-07 12:19] OskarOstlund opened #56 "Paying for the same order twice results in two orders being placed in BO."
Would you attempt to make a purchase with the payment module and begin to make a payment but not finishing the order and then opening the checkout in another window before finishing both orders will no longer an error message show up, instead is only one order placed in the store as is correct, however two orders are created in BO.

[2020-09-07 12:58] NiklasHogefjord commented on #16
@anfly0 It is fixed because it's solved and merged into the Master branch of the Billmate Order Management plugin. Are you using the latest version and have follow this instructions: https://docs.krokedil.com/article/366-billmate-order-management-introduction#h-H2_4

[2020-09-07 13:29] anfly0 commented on #16
@NiklasHogefjord There seems to be an issue with editing orders that have been created with status "Pending".
In the edit order view, they show as "On hold" and it is possible to edit the order, and clicking save updates the order in the store but do not affect the invoice in billmate online.
I don't know what discussions you have had with @MattiasNilsson, but I would expect the update to either s

[2020-09-07 15:39] NiklasHogefjord commented on #16
@anfly0 This is what Billmate docs say about updating an order:
_NOTE: You can only update a payment that has status “Created”, which has not yet been locked (sent)_.

If Order updates is enabled in the Order Management plugin, do you want the plugin to add an order note in WooCommerce if the status is anything else than _Created_ and an update of the order is done in Woo?

[2020-09-07 16:54] anfly0 opened #57 "Woocommerce 4.4.1 crash."
Woocommerce 4.4.1 causes the checkout plugin to crash.

[Mon Sep 07 16:09:17.919960 2020] [php7:error] [pid 281] [client 89.233.201.220:0] PHP Fatal error:  Uncaught Error: Class 'WC_AJAX' not found in /usr/src/checkout/classes/class-bco-ajax.php:15\nStack trace:\n#0 /usr/src/checkout/billmate-checkout-for-woocommerce.php(113): include_once()\n#1 /usr/src/checkout/billmate-checkout-for-woocommerce

[2020-09-08 05:40] NiklasHogefjord commented on #57
I see what the issue is @anfly0.

We had no check to see if WooCommerce was activated or not in the BCO plugin. The ajax in the plugin is extending WooCommerce's ajax class. When WooCommerce wasn't activated (perhaps during a plugin update in your case) the error was triggered.

I have pushed a commit to master branch now that doesn't trigger any fatal error if WooCommerce isn't active.

[2020-09-08 05:43] OskarOstlund commented on #57
I was able to make a purchase, activate it, and cancel another as well with version 4.4.1 so it seems to be mostly working, at least on my side.

[2020-09-08 07:21] anfly0 commented on #57
@NiklasHogefjord This seems to have fixed the issue!
@OskarOstlund  Did you have this issue before the latest commit?
Just wondering if this was only a problem with my test setup.

[2020-09-08 07:48] OskarOstlund commented on #57
I was able to use the checkout before the commit yes.

[2020-09-08 07:53] anfly0 commented on #57
@OskarOstlund With woocommerce 4.4.1?

[2020-09-08 07:54] OskarOstlund commented on #57
Yes.

[2020-09-08 08:05] NiklasHogefjord commented on #34
I have a fix for this now in this branch: https://github.com/Billmate/billmate-order-mangement-for-woocommerce/tree/issue-%2334-bco

The settings for it look like this:
![image](https://user-images.githubusercontent.com/985946/92449668-aacd1700-f1ba-11ea-93ad-17126213ff87.png)

Would that be an ok setup for this feature @MattiasNilsson & @stefanliden ?

[2020-09-08 13:49] stefanliden opened #58 "Client Secret"
Client Secret should be password type so you cant see the imformation

![image](https://user-images.githubusercontent.com/13320183/92485125-d4059b80-f1ea-11ea-875d-f59828b4f8d0.png)

[2020-09-08 14:13] stefanliden commented on #10
the discount code is not visible regardless of the type of discount code in the payment call to Billmate. This means that customers will never be able to see on their invoices that a discount code has been used. Example if a product has received a discount of 10%, it should be sent as this

$ values ["Articles"] [1] = array (
         "artnr" => "B456",
         "title" => "Article 2",
         "q

[2020-09-08 15:12] NiklasHogefjord commented on #10
@stefanliden How should we add a discount in the request to Billmate if it is a fixed cart amount discount?

The API-docs mention that it should be sent in as %, but fixed amount coupons can also be created in WooCommerce.

[2020-09-09 06:48] OskarOstlund commented on #34
This at least works from a technical viewpoint, when you turn off the update feature are you not able to update an order in BO from the store and the same is true for the other automatic options. Still waiting response if the setup is acceptable.

[2020-09-09 12:15] #58 closed

[2020-09-09 12:16] NiklasHogefjord commented on #57
This is the commit that fixes the issue: 205298b20934113467ec1edf7d04c570811ba553. I'm closing it now. Please re-open it if you still are experiencing problem.

[2020-09-09 12:16] #57 closed

[2020-09-09 14:42] #32 closed

[2020-09-10 05:42] OskarOstlund opened #61 "You cannot update person being invoiced."
When you attempt to update an order in Woocommerce, if you tried to update the customer's name or address, either due to a mistake being made or due to a move will this not be included in an update. This should preferably be made so one could update this independently of the items that are purchased. For an example would one only need to change the address should one be able to do so without needi

[2020-09-10 06:56] OskarOstlund opened #62 "Changing decimal rounding in woocommerce returns rounding error."
![image](https://user-images.githubusercontent.com/58035708/92691063-4b017800-f342-11ea-8249-948302ba32f7.png)
Would you change your settings to include only one decimal in the price in woocommerce will you be met with the error message above. This ought to be fixed.

[2020-09-10 07:54] OskarOstlund opened #63 "Orders that are set to pending in BO are given the wrong status."
Would you make an order that are set to pending by the system would it get the status "Paused", however as this is incorrect and technically allows the merchant to edit the order while we are making a credit check. Instead should the order be given the status "Inväntar betalning".

[2020-09-10 10:48] NiklasHogefjord commented on #63
"Inväntar betalning" is not a good status to set for this use case. Some stores might have the "Hold stock" setting activated in the store. This means that orders with the status "Inväntar betalning" automatically changes to "Avbruten" after xx amount of minutes.

We don't want stock to accidentally be released for the order. We also need a way to see the difference between an order where the cust

[2020-09-10 10:51] NiklasHogefjord commented on #62
I suggest that we don't allow 0 decimals when using BCO. We can even disable the plugin if the settings is set to 0 decimals.

We will most likely end up in endless of different support tickets if we try to solve some kind of 0 decimal compatibility. This setting in WooCommerce isn't just a cosmetic change in the webstore, it is rounding of net price and tax amount to the nearest even integer.

[2020-09-10 10:53] OskarOstlund commented on #62
can we force wooCommerce to only accept 2 decimals then? If that is possible would that be the simplest alternative I would think.

[2020-09-10 10:54] NiklasHogefjord commented on #62
Let me look into that.

[2020-09-10 11:01] OskarOstlund commented on #62
because the issue also appear if one uses 1 decimal as well.

[2020-09-11 08:45] OskarOstlund commented on #22
![image](https://user-images.githubusercontent.com/58035708/92895387-bd925680-f41b-11ea-97ee-6b44f6ca6012.png)
This is also still the case for cardpayments, making them impossible to interact with for the order manager.

[2020-09-11 09:15] NiklasHogefjord commented on #22
You are correct @OskarOstlund. However, I need to discuss this closer with Mattias before we have a solution for this problem. I'm talking with him on Monday so I hope to have a solution after that.

[2020-09-11 09:48] OskarOstlund commented on #22
Right, I am holding my thumbs that it works out.

[2020-09-23 09:40] NiklasHogefjord commented on #50
I have updated the flow now @OskarOstlund and merge the changes into master branch. This was the PR for the change: https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/64

[2020-09-24 06:05] NiklasHogefjord commented on #61
@OskarOstlund Does Billmate support changing of customer address if the selected payment method is Invoice or part payment?

[2020-09-24 06:11] NiklasHogefjord commented on #56
That is correct @OskarOstlund. I don't see how we could limit/prevent this from happening in some other way. Do you have a suggestion on what would happen in this scenario?

[2020-09-24 07:43] MattiasNilsson commented on #24
@NiklasHogefjord That looks good to me! So go ahead!

[2020-09-24 10:57] NiklasHogefjord commented on #24
Thanks! Merging it to master.

[2020-09-24 11:05] #24 closed

[2020-09-24 11:07] NiklasHogefjord commented on #14
Not sure what we should do with this one @OskarOstlund?

[2020-09-24 11:08] NiklasHogefjord commented on #9
The rewrite in the plugin plus a change in how an updated order ID is handled in Billmates system should have solved this issue.

[2020-09-24 11:09] NiklasHogefjord commented on #9
I think we can close it. Do you agree @OskarOstlund?

[2020-10-01 06:56] OskarOstlund commented on #12
This needs to be fixed a bit more.

From what I can see does it take the last VAT in the standard VAT rate, in my case do I have a list of three, 25%, 12%, and 6% thusly my VAT is 6% for the invoice fee.

![image](https://user-images.githubusercontent.com/58035708/94777254-73214b80-03c3-11eb-9347-c1037bdb2036.png)
As can be seen in the picture above does this causes some issues, in the checkout is

[2020-10-01 09:05] NiklasHogefjord commented on #12
I think this is a configuration issue in your store @OskarOstlund. Here are examples of how I change the vat rate in the plugin settings and how it is changed in the BCO checkout:

## Standard vat rate (25%):
![image](https://user-images.githubusercontent.com/985946/94789178-e1223e80-03d4-11eb-9036-bc34bc5b57ab.png)
![image](https://user-images.githubusercontent.com/985946/94789211-ebdcd380-03d4-1

[2020-10-02 13:11] NiklasHogefjord commented on #62
I have looked into this a bit closer @OskarOstlund. Prices are supposed to be sent _without tax_ and the actual _tax rate_.

When using 0 (or 1) decimals in WooCommerce the _price without tax_ and the _tax amount_ is being rounded. To send a rounded number (price without tax) together with the tax rate to Billmate will end up in different prices (including tax) in the two systems.

Should we just

[2020-10-02 13:14] NiklasHogefjord commented on #45
So, that is more of a merchant issue than a plugin issue? Or can we do anything about it @MattiasNilsson ?

[2020-10-02 13:15] NiklasHogefjord commented on #39
This should be fixed now.

[2020-10-02 13:17] NiklasHogefjord commented on #22
It was fixed for a while @OskarOstlund but something seems to be broken again. @MattiasNilsson is looking into it.

[2020-10-05 06:33] OskarOstlund commented on #12
This is due to as I said in my text because I have three different VAT rates in my standard VAT, it is not the correct way to set up a store no, but it is not entirely unreasonable that a person would set up their store that way, especially a non-professional.  To clarify can you see the incorrect setup I tested with below:
![image](https://user-images.githubusercontent.com/58035708/95046719-08cf1

[2020-10-05 09:43] OskarOstlund opened #67 "Return correct orderID"
We tested on our side without the woocommerce plugin and it works fine.
We tested with the new woocommerce plugin and it does not work unless you are using an older version.

The notes my college took on the issue can be found below:

When it works; an updateCheckout request have been sent with new order number from store.
When it does not work; an updateCheckout request have not been sent when or

[2020-10-05 09:47] OskarOstlund opened #68 "Checkout update unselects any chosen payment method."
If I am quick enough, I can select a payment method before the checkout is updated. This does however have the downside that the payment method gets unselected again, and I have to once more select it. This is rather annoying for the customer and if it is possible would it be better if the chosen payment method was selected again or even remained selected automatically.

[2020-10-05 10:51] MattiasNilsson commented on #68
When testing through master branch the orderid never gets updated from the temporary orderid.

When testing using an older branch: 0b3a5be70d16ba5c367b55ba7856a56513511bdd as long as you wait for the checkout to load completely before continuing, it works fine, orderid gets updated.
However on this older branch, if you do not wait a little until checkout has loaded completely, we get the same issu

[2020-10-05 10:52] NiklasHogefjord commented on #68
Thanks, I will look into this.

[2020-10-05 13:50] NiklasHogefjord commented on #68
I have compared the two versions now. The backend requests are identical so something is probably different in front-end. I will continue troubleshoot this.

[2020-10-21 05:10] #50 closed

[2020-10-21 05:10] #34 closed

[2020-10-21 05:11] MattiasNilsson commented on #12
My opinion is that this is an Merchant issue, they can mess it up in many ways.

[2020-10-21 05:11] #12 closed

[2020-10-21 05:13] MattiasNilsson commented on #61
@NiklasHogefjord Yes that is possible today through the API.

[2020-10-21 05:15] MattiasNilsson commented on #14
@NiklasHogefjord What we need to add to the header should be something like this:

BillmateCheckoutWooCommerce:ThePluginVersionCurrentlyRun

[2020-10-22 05:52] MattiasNilsson commented on #56
I agree with @NiklasHogefjord it is very hard to circumvent, therefore let´s close this one.

[2020-10-22 05:52] #56 closed

[2020-10-22 05:53] MattiasNilsson commented on #45
@NiklasHogefjord This should be fixed now as the flow has changed?

[2020-10-22 05:58] MattiasNilsson commented on #9
This is now done.

[2020-10-22 05:58] #9 closed

[2020-10-22 05:59] MattiasNilsson commented on #39
This is also fixed.

[2020-10-22 05:59] #39 closed

[2020-10-22 06:20] MattiasNilsson commented on #22
@NiklasHogefjord The blocker is now gone, so can be fixed.

[2020-10-22 09:46] NiklasHogefjord commented on #67
@OskarOstlund Perhaps you can test again with the current master branch?

Billmate needed to do a change in the [purchase_initialized](https://billmate.github.io/api-docs/#purchase_initialized) frontend JS event. We have also done a change in the plugin code since the response to this callback now should be replied with [purchase_complete](https://billmate.github.io/api-docs/#purchase_complete).

[2020-10-22 10:03] NiklasHogefjord commented on #45
No it is not solved in the changed flow @MattiasNilsson. The issue is still here.

According to the docs it looks as I should be able to just do a JS [update](https://billmate.github.io/api-docs/#update) and the iframe will automatically [unlock](https://billmate.github.io/api-docs/#unlock) when the update is done. That doesn't seem to work.

[2020-10-23 11:05] OskarOstlund commented on #63
If this is acceptable to @MattiasNilsson am I happy with the current design.

[2020-10-23 11:25] MattiasNilsson commented on #62
@NiklasHogefjord I think we should go with the option 2 decimals is required in the plugin documentation.

[2020-10-23 12:15] NiklasHogefjord commented on #62
I agree @MattiasNilsson. Thanks!

I'll close this ticket after I've added it to the docs.

[2020-10-26 10:05] OskarOstlund commented on #16
Something I noticed that might need to be updated in the documentation or at least looked over, the steps as described in would be enough to send two separate update payments API calls. Maybe should some clarification be added that merely pressing either "Save" or "Recalculate" would be enough to create an update payment.

If nothing else just because it would be simpler for someone that needs to

[2020-10-29 08:27] NiklasHogefjord commented on #68
This should be solved now after updates in Billmate's system (improvements to the validation callback event). I'm closing this issue.

[2020-10-29 08:27] #68 closed

[2020-10-29 08:28] NiklasHogefjord commented on #67
@OskarOstlund I have tested and can confirm that invoice payment, card payment and direct bank payment works. Can you confirm this as well?

[2020-10-29 08:32] NiklasHogefjord commented on #62
I realize that this was already added as a required setting in the docs here: https://docs.krokedil.com/article/361-billmate-checkout-introduction. I Will update it in the repository documentation as well when [that issue](https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/6) is closed.

[2020-10-29 08:32] #62 closed

[2020-10-29 08:43] NiklasHogefjord commented on #14
We do add version and client (since of August 14). Can you test this again and see if you still experience issues @OskarOstlund ?

[2020-10-29 09:20] NiklasHogefjord commented on #10
@MattiasNilsson Would it be ok to just add the discount on each order line for display/information? Not be a part of the totals calculation? I have tested and it seem to work ok like that.

[2020-11-01 16:28] NiklasHogefjord commented on #10
@OskarOstlund perhaps you can test this and see that it looks ok for you as well?

[2020-11-02 07:40] MattiasNilsson commented on #63
@NiklasHogefjord @OskarOstlund I agree that this solution is good!

[2020-11-02 07:41] MattiasNilsson commented on #44
@NiklasHogefjord This one is now approved according to me!

[2020-11-02 07:41] MattiasNilsson commented on #45
@NiklasHogefjord Is this one still an issue then?

[2020-11-02 07:43] NiklasHogefjord commented on #63
Thanks. Closing this.

[2020-11-02 07:43] #63 closed

[2020-11-02 07:43] NiklasHogefjord commented on #44
Thanks!

[2020-11-02 07:43] #44 closed

[2020-11-03 07:28] NiklasHogefjord commented on #22
This issue is now fixed due to changes in Billmates system (logic regarding the purchase_complete event).

[2020-11-03 07:28] #22 closed

[2020-11-03 08:08] MattiasNilsson commented on #14
This works as expected.

[2020-11-03 08:08] #14 closed

[2020-11-05 08:52] NiklasHogefjord commented on #61
This should have been fixed in 93eec7461a4c436ce33370f4965973e31c3f0d4d.

[2020-11-05 08:54] NiklasHogefjord commented on #45
@MattiasNilsson I don't lock/unlock anymore during update now. Perhaps you can test this and see what you think?

[2020-11-12 12:29] OskarOstlund opened #71 "Attempting to pause an order causes a fatal error."
If you attempt to pause an order are you currently met with a fatal error, the order is however successfully updated and going to another page and then back to the order menu will leave you with the order successfully paused.
Error message:
`Fatal error: Uncaught Error: Call to undefined method WC_Order_Item_Fee::get_product() in C:\xampp\htdocs\WoocommerceKrokodil2ElectricBogaloo\wp-content\plugi

[2020-11-12 12:32] OskarOstlund opened #72 "Attempting to press recount causes 500 error."
![image](https://user-images.githubusercontent.com/58035708/98940453-4d6f8200-24eb-11eb-94f1-650555b721bb.png)
As can be seen in the image above, would one need to update an order will this now cause a 500 error and no update API call to be sent to BO. Instead is the webstore displaying that the order is being updated and a loading icon that is stuck.

[2020-11-12 13:09] OskarOstlund opened #73 "Attempting to refund an order returns a 500 error"
Similar to [issues 72](https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/72) has an error shown up where if one attempts to ask for a refund through billmate checkout will the page start to load but no change will be made. Looking into the console list will show that a resource has failed to load and you have gotten a 500 error.

[2020-11-12 14:18] NiklasHogefjord commented on #73
Can you send me the log for this refund via Slack @OskarOstlund?

[2020-11-12 14:20] NiklasHogefjord commented on #72
Can you send me the log for this request via Slack @OskarOstlund ?

[2020-11-18 08:39] #71 closed

[2020-11-18 08:39] #72 closed

[2020-11-18 08:39] #73 closed

[2020-12-02 13:53] MattiasNilsson opened #76 "Add correct client and version to API calls."
We need to add correct version and client send to Billmate API.

[code]

[2020-12-07 10:23] #76 closed

[2020-12-16 14:47] stefanliden opened #78 "No activatepayment call should be made for the direct payment methods."
When a customer pays via directpayment (Swish/Trustly) to Billmate, the money is withdrawn immediately and no activatePayment call needs to be made to Billmate. It seems that the extension today makes an activatePayment call for a directpayment  if you change the status from processed to complete and have enable autocapture = true.

This is unnecessary and confuses customers  beacuse of the error

[2020-12-17 13:08] MattiasNilsson commented on #78
Solved with: https://github.com/Billmate/billmate-order-mangement-for-woocommerce/releases/tag/0.2.1

[2020-12-17 13:08] #78 closed

[2020-12-22 09:13] andyjohansson commented on #8
Closing this issue since we are moving documentation to the official documentation page from Billmates domain.

[2020-12-22 09:13] #8 closed

[2020-12-22 09:14] andyjohansson commented on #67
What is the status here @OskarOstlund ?

[2020-12-22 09:21] andyjohansson opened #79 "Verify translations for Swedish and English"
We need to verify that translations for the payment module for both english and swedish are correct and up to date.

[2020-12-22 09:33] andyjohansson opened #80 "Review the WordPress Repo information (Sales page)"

[2020-12-22 09:34] andyjohansson commented on #80
@stefanliden will create the banner image.

[2020-12-22 09:36] andyjohansson opened #81 "Setup Autopublish to new WordPress SVN"

[2020-12-22 09:37] andyjohansson opened #82 "Create the user manual and publish on support.billmate.se"
https://support.billmate.se/hc/sv/categories/360000827338-Moduler

[2020-12-22 09:40] andyjohansson opened #83 "Verify that "partially pay from XXX SEK" works on product page"
**Requirements**
* Should use data from getPaymentplans API function.
* Should not be shown if getPaymentplans API function returns no available payment plans. For example if amount of product is too low.
* Should update the amount if the product page includes a variable product that affects the price of the product. For example maybe a red variant of a pair of paints costs + 100 SEK.
* Should onl

[2020-12-22 09:45] andyjohansson opened #84 "Update plugin info"
By Billmate in collaboration with Krokedil.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/4968755/102874435-bfb87800-4442-11eb-9af2-bc4248f2ef49.png)

[2020-12-22 10:14] OskarOstlund commented on #10
Tested and approved.

Discounts have now been included in the

[2020-12-22 10:47] OskarOstlund commented on #45
This should probably be given a once over. When I tested this could I change the delivery method adding another 10 SEK to the order and while it was loading could I finish placing the order. This caused the checkout thank you message claiming that the order cost 27.50, something that BO and the store both agreed with. However the thank you URL the store directed us to claimed that the order was 17

[2020-12-22 11:35] andyjohansson opened #85 "Verify that the used payment option is displayed on the order"
Why?
Fot he shop owner to more easily get statistics from WooCommerce. Just "Billmate Checkout" is not that informative.

[2020-12-22 11:39] NiklasHogefjord commented on #45
@OskarOstlund & @MattiasNilsson I did a change where we don't lock/unlock BCO during update to avoid the original issue. If you want the plugin to lock down other actions during the update, then you probably need to look into how the unlock event is handled in your system. This is not anything that can be solved only in the plugin from what I can see.

[2020-12-22 12:53] OskarOstlund commented on #61
Tested and approved-

[2020-12-22 12:53] #61 closed

[2020-12-22 13:47] OskarOstlund commented on #67
Tested and approved.

[2020-12-23 09:56] stefanliden opened #86 "Partial payment function pay from xxx logo is missing on the product page."
We do not have a function to display the partial payment logo "pay from xxx" on a product page.

We should have a setting to enable this function so a customer can see what they can pay from in month for the product.
The product price should only appear if it matches the merchans paymentplans and always show the minimum price to pay in month. It should also be a setting to set where the partial pa

[2020-12-23 10:28] MattiasNilsson commented on #83
This have been tested and the leftovers are added to a separate ticket: https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/86

[2020-12-23 10:28] #83 closed

[2020-12-29 06:10] #84 closed

[2020-12-29 07:31] #6 closed

[2020-12-29 07:33] #67 closed

[2020-12-29 07:34] MattiasNilsson commented on #45
After feedback, we decide to close this one.

[2020-12-29 07:34] #45 closed

[2020-12-29 07:35] #10 closed

[2020-12-29 09:07] stefanliden opened #87 "Pop module "Do you really want to leave the page" when making payment?"
Nvmaskin.se has had the following problems. When you make a payment, a text box appears that says if you really want to leave the page. If you then click yes, you will be directed to the thank you page. What creates problems is that the bankID singing does not come up and the same happens when you have to pay with Swish. If you instead choose not to leave the page, for example, bankID/Swich signin

[2020-12-30 14:46] NiklasHogefjord commented on #87
@stefanliden & @MattiasNilsson when I test I don't get redirected to thank you page. If I click "Yes" I will see the checkout page again. If I click "No" the checkout process will proceed and I can sign with Bank ID.

I think this is an isolated issue on the merchant site. Me and Mattias are communicating over Slack to try to solve it.

[2021-01-05 07:21] NiklasHogefjord commented on #86
PR for this feature is now available here - https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/88

[2021-01-05 09:24] #86 closed

[2021-01-07 09:00] NiklasHogefjord commented on #87
Just adding how the alert box looks like:
![image](https://user-images.githubusercontent.com/985946/103872743-18d50c80-50cf-11eb-9d63-1ba106b19026.png)

[2021-01-12 14:22] andyjohansson commented on #87
Please follow up this as soon as you are back next week @stefanliden.

[2021-01-19 10:49] stefanliden opened #89 "Billmate Checkut Settings cant be translated"
These texts below cannot be translated via Loco Translate

![image](https://user-images.githubusercontent.com/13320183/105024307-3b124700-5a4c-11eb-8215-85714c8210cf.png)
![image](https://user-images.githubusercontent.com/13320183/105024339-45ccdc00-5a4c-11eb-8fb2-fb0c70dc108c.png)

[2021-01-19 10:57] #79 closed

[2021-01-20 14:31] OskarOstlund opened #90 "Checkout does not work with WooCommerce Smart Coupons"
Would you use the plugin "Woocommerce Smart Coupons" as one of our biggest customer does, does this plugin not work with our checkout currently. Would you apply the coupon before going to the checkout in the cart will you be met with the following view when entering the checkout:
![image](https://user-images.githubusercontent.com/58035708/105188454-37f28600-5b34-11eb-82f0-9528553f50bc.png)

Simila

[2021-01-20 21:56] DanielMarklund opened #91 "Age restriction, forcing PIN and locking name"
Just found this repo, exciting! I've yet to try the new Billmate Checkout out, but I checked the Kanban & issues and couldn't see anything regarding age restriction etc. Below is our feature request, as we have a legal age restriction (18+) in our shop due to selling vapes.

**Forcing personal identity number for Swedish customers (B2C)**
We need to make sure that no Swedish customer can checkout

[2021-01-20 22:02] DanielMarklund commented on #85
Some more why's: The payment method information is currently being used in Nemo (ERP) in the previous Billmate Checkout plugin to identify the payment method. For customer support, it really helps to see exactly which method has been used both on the _order view_ and _orders list view_.

[2021-01-20 22:09] DanielMarklund opened #92 "Being able to checkout free orders"
In the previous Billmate Checkout plugin, it's not possible to checkout if the order is free of charge (afaik). Due to that, gift card plugins and the standard WooCommerce coupons don't work if the order cost goes down to 0 kr. Is it possible to checkout free orders in this plugin? If no, then that's a feature request from us.

[2021-01-21 09:55] stefanliden opened #93 "Information is missing from the WooCommerce order confirmation email."
The following information is missing from the WooCommerce order confirmation email.

1: Payment type that has been used is not only Billmate Checkout.

2: If you shop with an invoice, the invoice fee is not included, this then creates the problem that the total price does not match what the customer actually has to pay.

Order email
![image](https://user-images.githubusercontent.com/13320183/10533

[2021-01-21 13:26] NiklasHogefjord commented on #92
Hi Daniel, I have created a Pull Request that will solve the 0 kr issue: https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/94.

@MattiasNilsson does it look ok?

[2021-01-21 14:09] stefanliden opened #95 "Hide delivery address setting in Billmate Checkout settings"
One of our customers who sells digital products has a wish that you should be able to turn off the delivery address field from the Billmate Checkout settings. We have a function in the initch checkout called hideShippingAddress = true / false. This makes the delivery address field visible or not at checkout. It would have been good if we could add a text box in the settings where you can choose wh

[2021-01-21 14:13] stefanliden opened #96 "Turn off Billmate updating customer data in Woocommerce after making a order"
A customer has a wish that they can turn off Billmate updating customer data in Woocommerce after completing a payment / order.

This is desirable because their customers are logged in when they make a purchase, it is a requirement to even be able to complete the purchase. Say that stefan with social security number 8711111-1111 is logged in and makes a purchase, but in the Billmate checkout, a fa

[2021-01-22 06:09] #93 closed

[2021-01-22 10:13] NiklasHogefjord commented on #96
Thanks for the suggestion @stefanliden. I think we need to discuss this a bit closer before we start the development for this. So I get a grip of the feature in detail :).

[2021-01-22 12:07] stefanliden commented on #87
I have asked the customer if ftp access is waiting for feedback 👍

[2021-01-22 13:09] andyjohansson opened #98 "Fix description with third party reliability"

[2021-01-22 13:11] andyjohansson opened #99 "Add verified compatible plugins to readme.md for WordPress Repo"

[2021-01-22 13:19] MattiasNilsson commented on #98
Wrong repo moved to: https://github.com/Billmate/billmate-order-mangement-for-woocommerce/issues/12

[2021-01-22 13:19] #98 closed

[2021-01-22 18:38] andyjohansson commented on #85
Is this implemented @NiklasHogefjord?

[2021-01-22 18:38] andyjohansson commented on #82
Any status update @stefanliden?

[2021-01-22 18:39] andyjohansson commented on #99
Do you have any input here @NiklasHogefjord?

[2021-01-22 18:42] andyjohansson commented on #96
We need more input here from the customer @stefanliden. Are the users logged in? Are they using some kind of quote functionallity? Please setup a discovery call with the client and @NiklasHogefjord so we can get the full picture.

[2021-01-22 18:44] andyjohansson commented on #92
This is now merged into the master branch. Could you please verify the functionality @DanielMarklund?

[2021-01-22 19:09] andyjohansson commented on #91
Hi @DanielMarklund and thanks for the very detailed issue. I will try my best to answer your questions.

At the moment the settings for **"Forcing personal identity number for Swedish customers (B2C)"**, "**Locking certain customer address input fields (B2C)**" and "**Age restriction setting (B2C)**" are only configurable by Billmate authorized staff in our backend. Therefor the current behaviour

[2021-01-22 19:10] andyjohansson commented on #89
What's the status here @NiklasHogefjord?

[2021-01-22 19:13] andyjohansson commented on #11
Any update here @OskarOstlund or @NiklasHogefjord?

[2021-01-22 19:15] andyjohansson commented on #11
Issue is done in the project view but not closed here so I assume that it is not a problem anymore? If so, please close this issue.

[2021-01-25 05:40] OskarOstlund commented on #11
This has been fixed.

[2021-01-25 05:40] #11 closed

[2021-01-25 07:57] NiklasHogefjord commented on #89
POT file updated now @andyjohansson. I have pushed it to Master branch.

[2021-01-25 07:59] NiklasHogefjord commented on #85
Yes @andyjohansson, it seems to have been a duplicate of issues. Fixed and closed here: https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/93

[2021-01-25 08:03] NiklasHogefjord commented on #87
We got login to the staging site. The can not be recreated there.

We had a similar issue with another iframe based checkout (with the same checkout flow) and there it seems as the Google Tag Manager plugin was causing a reload of the page in this sequence (that was causing this error).

[2021-01-25 08:19] NiklasHogefjord commented on #99
I'll take a look @andyjohansson

[2021-01-25 09:29] #81 closed

[2021-01-26 09:29] stefanliden commented on #90
This is still a problem. As I see it, there are three different types of problems that can occur when entering the discount code.

The first problem (image error1) is that you are in the shopping cart page and enter the discount code and then go to the Billmate Checkout page. Then there will be an error message that Total Sum with Tax is not equal to Total Sum Excluding VAT,

I think this error ha

[2021-01-26 10:00] NiklasHogefjord commented on #90
There is no standard way to handle gift cards in WooCommerce. Each Gift card plugin has its own way of implementing usage of gift cards. When the payment processor requires all order lines to be sent this will cause issues.

Basically this means that we need to implement support for gift cards on a per plugin basis. I will look into support for Smart coupons to start with.

[2021-01-26 13:25] andyjohansson commented on #89
Can you verify @stefanliden?

[2021-01-26 13:27] andyjohansson commented on #87
Ok, so there are no known workarounds? Can @stefanliden talk to the customer and see if we can verify that it is Google Tag Manager?

Are there any ways to work around this @NiklasHogefjord?

[2021-01-26 13:27] andyjohansson commented on #85
Ok, closing!

[2021-01-26 13:27] #85 closed

[2021-01-26 18:43] andyjohansson opened #101 "Hide delivery address setting in Billmate Checkout settings"

[2021-01-26 18:43] andyjohansson commented on #101
Link to feature: https://billmate.productboard.com/feature-board/planning/features/6800739

[2021-01-26 18:45] andyjohansson commented on #101
Duplicate

[2021-01-26 18:45] #101 closed

[2021-01-27 07:08] NiklasHogefjord commented on #90
@stefanliden PR added now that will solve this https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/102

[2021-01-27 07:15] NiklasHogefjord commented on #99
Support for the following plugins at the moment:
* WooCommerce Sequential Order Numbers - https://wordpress.org/plugins/woocommerce-sequential-order-numbers/
* Sequential Order Numbers Pro - https://woocommerce.com/products/sequential-order-numbers-pro/
* Smart Coupons - https://woocommerce.com/products/smart-coupons/
* WooCommerce EU VAT Number - https://woocommerce.com/products/eu-vat-number/

[2021-01-27 07:19] andyjohansson opened #103 "Add screenshots to WordPress Plugin Readme"

[2021-01-27 07:22] andyjohansson commented on #90
Like! Please verify this @stefanliden 👍

[2021-01-27 09:07] andyjohansson commented on #99
Thanks, I have now added this to the documentation.

[2021-01-27 09:07] #99 closed

[2021-01-27 09:16] #80 closed

[2021-01-27 09:48] andyjohansson opened #105 "Wrong version and client are sent in to the API"
Version should be the API version.
Client should be WooCommerce_v2:[pluginversion] - Example: WooCommerce_v2:1.0.0

Currently the below are provided:
Version: WordPress: 5.6. WooCommerce: 4.8.0. BCO:1.0.0. PHP Version: 7.3.26. Krokedil
Client: Mozilla/5.0 (iPhone; CPU iPhone OS 14_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Mobile/15E148 Safari/604.1

[2021-01-27 09:49] andyjohansson commented on #105
@MattiasNilsson what API version should be provided?

[2021-01-27 10:01] andyjohansson opened #106 "Verify that no resources are loaded on pages not needed"
In the previous plugin some external resources were loaded on pages not needed. For example colorbox.css
This slowed down the performance of the whole site. All we need to do is to verify that no resources are loaded if not needed.

Posted on behalf of @DanielMarklund

[2021-01-27 10:04] andyjohansson commented on #106
One thing to consider while doing this issue is what external resources are loaded if the part payment amounts are shown on the product page. Also, if this setting is disabled, do we load any external resources that are not needed in that use case?

[2021-01-27 10:49] andyjohansson commented on #89
@MattiasNilsson will add .mo file and submit a pull request so @NiklasHogefjord can verify.

[2021-01-27 10:50] andyjohansson commented on #105
Please verify if the same issue exists in the order management module @NiklasHogefjord.

[2021-01-27 11:10] MattiasNilsson commented on #89
Added a PR to fix this: https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/107

[2021-01-27 13:46] #90 closed

[2021-01-27 13:46] OskarOstlund commented on #90
This is verified and works.

[2021-01-27 13:47] MattiasNilsson commented on #92
This is now solved with the Pul Request https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/94

[2021-01-27 13:47] #92 closed

[2021-01-27 14:16] NiklasHogefjord commented on #105
* [PR](https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/108) created for BCO now.
* Also fixed in BOM via 24301f88921ce0d772b92f6f82b6db0aa6f45fa9

[2021-01-27 14:21] #89 closed

[2021-01-27 15:38] stefanliden commented on #105
Tested now and verified that it looks right 👍

[2021-01-27 15:46] #105 closed

[2021-01-27 15:50] #82 closed

[2021-01-27 15:51] andyjohansson opened #109 "Take another round of edits on the documentation"

[2021-01-27 16:24] NiklasHogefjord commented on #106
The only assets that are loaded in the plugin are bco-checkout.js (or bco-checkout.min.js) and bco-style.css. These two files are only loaded on the checkout page (not on the cart page and not on the order received page).

The image bm_delbetalning_l.png can also be loaded via the part payment widget, but that one is only loaded if activated via settings. No other files are enqueued for that featu

[2021-01-28 06:36] andyjohansson commented on #106
Great!

[2021-01-28 06:36] #106 closed

[2021-01-28 11:40] NiklasHogefjord commented on #87
We have an idea on how to solve this. We implemented a slight change in how we submit the WooCommerce checkout form in the other plugin that seems to have solved the problem. I can have a look at this in a couple of days.

[2021-01-28 14:10] andyjohansson commented on #87
Ah great. Let's plan this then for the 1.0.1 release if no other urgent things come in between.

[2021-01-28 18:51] andyjohansson commented on #96
Any updates here @stefanliden? How did the meeting with the customer go? Any new insights?

[2021-02-05 11:10] stefanliden commented on #87
Tested and this works well :)

[2021-02-06 12:46] #87 closed

[2021-02-15 14:15] billmate-support opened #114 "Toogle Phone Number Mandatory Or Not"
In some cases a phone number is not required to complete a purchase. As an example it could be if you sell downloadable media in a store. In those cases it would be great to be able to set the phone number to be a not required field in the Billmate Checkout.

<p></p>

<p></p>

**Notes:**

Use own setting

[2021-02-15 14:15] billmate-support commented on #114
Link to feature: https://billmate.productboard.com/feature-board/planning/features/6797529

[2021-02-17 14:28] andyjohansson opened #115 "Add support for Approved and Denied callback order status when order had status Pending previously"
When a order is created with status "Pending" a process is starting at Billmates end to verify the payment. The pending status can be returned when the system identifies a customer behaviour is identified as potential fraud, if a manual credit decision needs to be made, if we are awaiting callback from third party such as Trustly or if a KALP (Kvar att leva på kalkyl) needs to be executed.

The re

[2021-02-17 14:37] andyjohansson commented on #115
We can setup account credentials so that this behavior is easy to reproduce for testing purposes.

[2021-02-17 14:45] NiklasHogefjord commented on #115
It would be grat if you can set up credentials or information on how to trigger this @andyjohansson

[2021-02-17 15:02] andyjohansson commented on #115
Working on it!

[2021-02-17 15:20] andyjohansson commented on #115
I will setup a separate account for this purpose for you. Will get back with details over Slack.

[2021-02-18 10:57] andyjohansson commented on #115
You should have all the details now to start work @NiklasHogefjord

[2021-02-18 11:40] NiklasHogefjord opened #116 "Reload checkout if customer address is missing during the Woocommerce order creation process"

[2021-02-23 07:36] NiklasHogefjord opened #118 "Cancel order in Billmate when Denied callback is reported from Billmate"

[2021-02-23 14:58] stefanliden opened #120 "the partial payment does not show the lowest"
**Brief explanation**

The partial payment price shown on a product page does not show the lowest possible amount to pay/month. It looks like we are showing the first monthly cost and not the lowest.

Expected behaviour
The partpayment  price should always show the lowest price you can pay/month.

**Video and / or images**
![image](https://user-images.githubusercontent.com/13320183/108860841-e2a40

[2021-02-26 09:06] #115 closed

[2021-03-01 09:47] NiklasHogefjord commented on #95
I've tested this but even though I send in the following (in _init_ request):

`"CheckoutData": {
					"terms": "https:\/\/krokedilserver1.se\/",
					"companyView": "false",
					"hideShippingAddress": "true",
					"privacyPolicy": "https:\/\/krokedilserver1.se\/"
				},
`
I still se this checkout:

![image](https://user-images.githubusercontent.com/985946/109480076-60e33080-7a7b-11eb-9d52-6285a2

[2021-03-04 05:58] andyjohansson opened #122 "🚨 Compatibility issues with WPC Product Bundles for WooCommerce 🚨"
## Brief explanation
Comaptibility issues with the following plugin, [https://wordpress.org/plugins/woo-product-bundle/](https://wordpress.org/plugins/woo-product-bundle/)

When a bundled product exist in the card the Checkout is not created. See image:
<img width="547" alt="Skärmavbild 2021-03-04 kl  06 49 42" src="https://user-images.githubusercontent.com/4968755/109917534-ce7aa100-7cb5-11eb-81

[2021-03-04 06:05] andyjohansson commented on #122
One theory is that this is the issue:
<img width="915" alt="Skärmavbild 2021-03-03 kl  18 10 25" src="https://user-images.githubusercontent.com/4968755/109918893-0a166a80-7cb8-11eb-841b-4117a335bfa5.png">

[2021-03-04 09:02] #122 closed

[2021-03-04 09:55] NiklasHogefjord commented on #96
@stefanliden You can test this feature by using this branch: https://github.com/Billmate/billmate-checkout-for-woocommerce/tree/issue-96.

You also need to add this code snippet to your WordPress website to test the feature:

[code]

You can do this via custom code or via the plugin [Code Snippets](https://sv.wordpress.org/plugins/code-snippets/).

[2021-03-08 13:10] andyjohansson commented on #114
Need changes in Main Platform first.

[2021-03-09 12:43] stefanliden commented on #120
Tested & works 👍

[2021-03-11 05:29] #95 closed

[2021-03-11 05:29] #120 closed

[2021-03-11 05:33] andyjohansson commented on #91
@DanielMarklund have you had a chance to try out this new plugin yet?

[2021-03-11 13:10] andyjohansson commented on #96
Customer will test tomorrow according to @stefanliden ✌️

[2021-03-14 07:56] DanielMarklund opened #128 "Field woocommerce_bco_invoice_fee needs validation"
In the BCO settings, the woocommerce_bco_invoice_fee field doesn't work if you enter 15,2. The invoice fee is not applied in the checkout. If you enter 15.2 the invoice fee is applied in the checkout. The field needs some validation to make it clear that it only allows a dot separator and not a comma – or be able to handle both comma or dot.

[2021-03-14 08:31] DanielMarklund opened #129 "Make scrolling to iframe optional"
Make automatic scrolling to the checkout iframe optional. We've moved order review, shipping options and added some content above the BCO iframe which we want the customers to see when entering the checkout. With the line below uncommented, the customer gets scrolled past all content. I've attached a screenshot on what I mean with the added/moved content.

**bco-checkout.js, line 198:**
`$('html,

[2021-03-14 09:06] DanielMarklund opened #130 "Disable BCO iframe interaction on update_checkout event"
On slower connection speeds (customer or server), when a user changes the shipping method – it takes a few seconds for the BCO iframe to refresh with the new data. ~This is due to the iframe only updating on the updated_checkout js event.~ _(Edit: not sure about this anymore as I couldn't find it in your code)_ I've attached a video to show the issue in action.

We've been experiencing issues in t

[2021-03-14 09:21] DanielMarklund opened #131 "Add wrapper (before/after) actions to the templates/billmate-checkout.php"
We're doing a lot of customizations on the checkout page, which includes moving cart contents, shipping method etc from the regular WooCommerce checkout table to their own separate sections. The current template actions are working fine, but for even better customization options I suggest adding a few more actions in the templates/billmate-checkout.

### Current billmate-checkout template actions:

[2021-03-14 10:33] DanielMarklund opened #132 "Updating cart contents (quantity) doesn't refresh BCO"
When adding the ability to change quantity of products on the checkout page, BCO does not refresh when changing quantities, so there is a price mismatch.

**Steps to reproduce:**
1. Install "Krokedil Checkout Customizer for WooCommerce" (by @NiklasHogefjord <3)
2. Add something to the cart
3. Go to checkout
4. Update the product quantity
5. The review-order updates with the correct new price, but

[2021-03-14 11:11] DanielMarklund commented on #132
Trying some things out. Executing this manually in the console after reproducing the steps above does not update the price even if the iframe is reloaded:
`checkout_iframe.postMessage('update', '*');`

So there is some stored data not being updated somewhere. Will keep investigating.

[2021-03-14 11:54] DanielMarklund opened #133 "Move #bco-wc-form inside the checkout form"
We have a custom country switcher on our checkout page. It's a select element with the available billing countries. The default selection is the current customer's billing country.

**Expected behaviour (works in the old BCO):**
When selecting another country the original #billing_country field gets updated and triggers an update_checkout JS event. When this trigger happens, I check which country

[2021-03-15 12:42] DanielMarklund commented on #133
This is a temporary fix we'll use, which moves add_wc_form to the order review:

[code]

[2021-03-15 12:56] DanielMarklund commented on #133
Adding the code above also fixes #132

[2021-03-15 12:57] DanielMarklund commented on #132
Check above mentioned issue for a temporary fix, or go to comment in issue #133:
https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/133#issuecomment-799388057)

[2021-03-15 13:04] NiklasHogefjord commented on #116
This can be tested via [this branch](https://github.com/Billmate/billmate-checkout-for-woocommerce/tree/issue-116) or [this PR](https://github.com/Billmate/billmate-checkout-for-woocommerce/pull/135).

[2021-03-15 13:18] NiklasHogefjord commented on #132
Hi @DanielMarklund
Thanks for using our plugins but "Krokedil Checkout Customizer for WooCommerce" is not maintained at the moment. Could you please test with https://sv.wordpress.org/plugins/change-quantity-on-checkout-for-woocommerce/ and see if that solves your issue? :)

[2021-03-15 13:32] DanielMarklund commented on #132
Hi @NiklasHogefjord, I had the same issue with a few other plugins. Haven't tried the one you mentioned though. https://github.com/Billmate/billmate-checkout-for-woocommerce/issues/133#issuecomment-799388057 made it work even with the not maintained plugin.

[2021-03-15 14:09] andyjohansson commented on #96
Customer have approved and we should be able to ship this.

[2021-03-15 14:11] andyjohansson commented on #116
@NiklasHogefjord prepeares for a release.

[2021-03-26 14:39] NiklasHogefjord commented on #133
Hi Daniel!

Thank you for your suggestion and sorry for the late reply.

I have done some changes to the template file due to another fix. I agree with your proposal and during my work I have moved #bco-wc-form so it now is inside the Woo checkout form tag. The change can be found and tested in this branch: https://github.com/Billmate/billmate-checkout-for-woocommerce/tree/issue-checkout-layout.

[2021-03-26 14:42] NiklasHogefjord commented on #132
Hi @DanielMarklund,
Since we're aiming at releasing a new version with the template change related to #133, I will close this as solved when the release is live.

Thanks for your feedback!

[2021-03-26 14:44] NiklasHogefjord commented on #131
Hi @DanielMarklund,

Would it be ok for you to have another look at this now when the template file is updated to this: https://github.com/Billmate/billmate-checkout-for-woocommerce/blob/issue-checkout-layout/src/templates/billmate-checkout.php

[2021-03-27 09:06] DanielMarklund opened #137 "Validate phone number input"
Perhaps this issue is only related to the BCO iframe (as phone number input is handled outside the plugin), but I figured I'd post it here just in case. We've had a lot of issues where customers write their phone numbers in different formats, many of the times cutting off the last digit. It seems to happen when customers write 46 in the beginning.

Example: A customer owns the number 0712345678, b

[2021-04-12 11:37] stefanliden opened #139 "Öppna Mobilt BankID"/IOS"
When using an Iphone / safari, there is no possibility to be routed automatically from Billmate Checkout to the bankID app for verification.
![image](https://user-images.githubusercontent.com/13320183/114388634-3e712680-9b94-11eb-8521-fecdafe1ab99.png)

[2021-04-19 11:38] #116 closed

[2021-04-21 08:05] OskarOstlund opened #144 "Disable checkout if no delivery method exists."
![image](https://user-images.githubusercontent.com/58035708/115518422-6d6c5400-a288-11eb-8d70-2560282d2bb0.png)
As we can see in the image attached above is it possible to still finish an order if delivery method is available for your zip address. We should most likely attempt to block the ability of the customer to finish an order if no delivery method is available.

[2021-04-22 11:55] NiklasHogefjord commented on #144
Hi,
It is not possible to finish this order. When trying to click the "Slutför köp" button the customer will see the following error notice from Woocommerce:

![image](https://user-images.githubusercontent.com/985946/115710259-6e79b000-a372-11eb-8c38-457ea22acd1d.png)

[2021-04-22 12:11] #144 closed

[2021-04-22 12:17] andyjohansson commented on #96
@stefanliden will check with merchant for release.

[2021-04-29 08:30] DanielMarklund opened #145 "Critical: Selected payment method not always stored"
We have finally implemented the new BCO and pushed it live. It has been running over night now and a lot of orders are missing the selected payment method. This problem was also present in the older plugin but was not very common (also was only present on Swish payments).

This is a critical error for us as that info is used in the ERP we use, so the ERP knows the correct payment method.

It has o

[2021-04-29 09:54] NiklasHogefjord commented on #145
Hi Daniel,
Get in touch with Billmate support directly regarding this issue. We will need to look into the payment gateway logs in order to see what has happened here.

[2021-04-29 22:11] DanielMarklund opened #146 "Rounding error "Total Summa med Skatt är inte lika med Total Summa Exklusive Moms, Total Skatt och Avrundning""
Customer reported that they were greeted with the following alert upon opening the checkout:

I received a list of which products the customer had in the cart and I could reproduce it myself, as seen in the image below. Why is this happening? We have 2 decimals setup in WooCommerce.

FYI, there is a mix of 12% and 25% moms/VAT products in the cart.

<img width="1165" alt="rounding-error" src="http

[2021-04-29 22:24] DanielMarklund commented on #146
This is also easily reproduced (at least on our site) by adding 2 different 12% moms products and increasing the item amount to a total of 4. It works fine when there only is one 12% moms product in the cart, but as soon as there are two different it breaks.

![image](https://user-images.githubusercontent.com/1516103/116625517-116d9380-a94a-11eb-9b5c-7fb67b8cb4f4.png)

[2021-04-29 22:31] DanielMarklund commented on #145
I made Stefan at Billmate aware of this and he has passed it on to their developers. @NiklasHogefjord

[2021-05-04 09:50] DanielMarklund opened #149 "Delivery address not always saved in WooCommerce order (but it's saved in Billmate Online)"
A customer made an order and changed the delivery address in BCO. The delivery address is correct in Billmate Online but in WooCommerce it was not saved (it was the same as the invoice address). I have been unable to recreate this issue so far. Customer was not logged in. Payment method was Billmate Checkout Faktura.

I'll send some screenshots and order details to Billmate support for debugging p

[2021-05-04 12:54] DanielMarklund opened #150 "Billmate checkout hash is missing"
Some customers are experiencing an issue with "Billmate checkout hash is missing". Last time this happened I had to clear all user sessions and open carts.

When debugging #146 I changed our tax calculations to not include VAT on shipping. When I saved it and refreshed the checkout, the hash error happened for me as well. After reverting the change it still was there. I'm unable to get past the er

[2021-05-05 06:40] DanielMarklund commented on #150
I've been doing some debugging on this issue when the error happens.

**Var dumping `BCO_WC()->api->request_get_checkout( WC()->session->get( 'bco_wc_hash' ) );` shows the following error code:**
`Billmate Error Code: 50015. Checkout: Hash var tom`

**The session data is missing following keys:**
bco_wc_number
bco_wc_checkout_url
bco_wc_hash

**The session data still has the following set:**
bco_w

[2021-05-05 09:13] DanielMarklund commented on #146
Based on the last screenshot I posted, the calculation for the sums in the error message is the following.

- Each product above costs 39 SEK inc VAT. VAT is 12%. Price ex VAT is 34,821428571. The total price ex VAT for 4 of the products is (39*4)/1,12 = 139,285714284 SEK.
- Shipping cost is 29 SEK inc VAT. VAT is 25%. Price ex VAT is 23,2 SEK.
- Invoice fee is 12 SEK inc VAT. VAT is 25%. Price ex

[2021-05-05 11:31] DanielMarklund commented on #146
## Final update with proposed solution

### How to reproduce

1. Make sure that you have a 12% MOMS/VAT rule set up in WooCommerce.
2. Create 2 different products. They need to have 12% VAT and 39 SEK price inc VAT.
3. Add both products to your cart. One of them needs 1 in quantity and the other one 3 in quantity.
4. Go to checkout.
5. You should now get an error that total sums are diffing by 0,0

[2021-05-06 07:59] DanielMarklund commented on #146
I've temporarily implemented the above fix in our production environment. No issues have been reported by customers so far and orders look correct. It has been live for approximately 12 hours. Usually we would've gotten around 30+ e-mails regarding this issue in that timeframe.

I do recommend that you test it yourselves too. I haven't tried it with 6% MOMS/VAT products, but it shouldn't in theory

[2021-05-06 13:13] billmate-support opened #153 "Test titel"
Test description gz#173522

[2021-05-06 13:14] #153 closed

[2021-05-10 12:30] DanielMarklund commented on #146
### Update on proposed fix & more debugging
The above fix works fine when the third decimal is 5, but we've now run into cases where even later decimals are at 5 – so the proposed fix isn't working in those cases.

I've been discussing with Paul at Billmate regarding this and one of the things we wanted to try was updating classes/requests/helpers/order/class-bco-order-cart-helper.php row 49.

**O

[2021-05-18 12:04] OskarOstlund opened #156 "Woocommerce order loops "invoice fee" in order view but not in BO."
![image](https://user-images.githubusercontent.com/58035708/118647482-aa712b00-b7e1-11eb-996f-4f0cc4c22044.png)
![image](https://user-images.githubusercontent.com/58035708/118647511-b3fa9300-b7e1-11eb-9473-ca459b06c040.png)
As can be seen in the images above do we have a customer that gets the invoice fee listed more than once, however in the API call to BO is no such flood of invoice fees include

[2021-05-19 12:09] #96 closed

[2021-05-19 12:09] #128 closed

[2021-05-19 12:09] #133 closed

[2021-05-19 12:09] #139 closed

[2021-05-19 12:11] andyjohansson commented on #96
Documentation here in Swedish: https://support.billmate.se/hc/sv/articles/360018444977-St%C3%A4ng-av-att-Billmate-uppdaterar-kunddatan

[2021-05-20 11:52] andyjohansson commented on #150
We need to discuss this some more @NiklasHogefjord.

[2021-05-20 11:54] andyjohansson commented on #149
Hi @DanielMarklund, today we release version 1.2.0 which might have solved the issue. Could you please test your use case and come back with feedback?

[2021-05-20 11:55] andyjohansson commented on #146
Could you take a look at this @NiklasHogefjord?

[2021-05-20 11:59] andyjohansson commented on #132
Hi @DanielMarklund, could you please test and verify if release 1.2.0 solved the issue?

[2021-05-23 16:11] DanielMarklund commented on #149
Hi @andyjohansson, I will try it out the upcoming week and report back with results. As I'm unable to recreate the issue we depend entirely on customers reporting the issue - so it might take some time to get feedback.

[2021-05-26 13:45] NiklasHogefjord commented on #146
@DanielMarklund, I have tried to recreate the issue but it is working without any problems for me.

I have followed your instructions (1 x 39 kr incl 12% VAT + 3 x 39 kr incl 12% VAT + shipping 29 kr incl 25% VAT + invoice fee 12 kr incl 25% VAT) and this is what is being sent in to Billmate:

[code]

What is your **Rounding** option set to in the --> WooCommerce --> Settings --> Tax tab? Mine loo

[2021-05-28 11:29] OskarOstlund commented on #145
@DanielMarklund
Would it be possible for you to resend the gateway logs here? they seems to have been left with Stefan when he left the company.

[2021-06-22 07:04] JohnssonM opened #160 "As a customer, i want to be able to handle orders from the nordic countries"
By today we only support Swedish customers and consumers with swedish addresses and phone numbers.
With this implementation we change that so we can support consumers from Finland, Norway and Denmark.
Note: We will only support customers (our customers) from Sweden or with swedish Org.Number

The Checkout is translated to english aswell for the international consumers.

### Acceptance criteria

Im

[2021-07-06 07:50] DanielMarklund commented on #149
@andyjohansson This problem still occurs after the 1.2.0 update.

[2021-07-27 09:23] DanielMarklund commented on #149
@andyjohansson @NiklasHogefjord

I've finally gotten time to debug this and found the culprit.

### Why does this happen?

If you have WooCommerce set on "Force shipping to the customer billing address", the shipping address fields will not get updated as those elements are not rendered on the checkout page. Only the billing address fields are rendered (but hidden via css).

In the previous versio

[2021-08-09 08:15] DanielMarklund commented on #131
Hi @NiklasHogefjord, sorry for the late feedback. I'm happy with the template file changes! Thank you.

[2021-08-09 08:15] #131 closed

[2021-08-09 08:48] NiklasHogefjord commented on #131
Great, thanks!

[2021-08-12 11:23] kalorifri opened #162 "Make private magic functions public"
https://github.com/Billmate/billmate-checkout-for-woocommerce/blob/master/src/billmate-checkout-for-woocommerce.php#L73
https://github.com/Billmate/billmate-checkout-for-woocommerce/blob/master/src/billmate-checkout-for-woocommerce.php#L82

Make Billmate_Checkout_For_WooCommerce::__clone and Billmate_Checkout_For_WooCommerce::__wakeup public

Because of PHP 8

gz#177257

[2021-08-17 09:20] #156 closed

[2021-08-17 09:28] NiklasHogefjord commented on #162
Fixed and released now.

[2021-08-17 09:28] #162 closed

[2021-08-18 13:23] OskarOstlund opened #164 "Merchant has reported that the invoice fee is written twice."
![image](https://user-images.githubusercontent.com/58035708/129894826-b5df801c-749d-4a15-b8b1-56eb53d6a0cd.png)
As can be seen in the image attached above have we received complaints that some merchants has invoice fee written twice

[2021-08-18 13:32] NiklasHogefjord commented on #164
We released a new version of the plugin yesterday that should fix the issue. @OskarOstlund can you check if it still happens with version 1.3.0?

[2021-09-01 08:22] NiklasHogefjord commented on #145
Closing this ticket since we don't have access to the logs. Please feel free to re-open it if you have more information regarding the issue @DanielMarklund (or if you can email Billmate logs for a failed purchase).

[2021-09-01 08:22] #145 closed

[2021-09-01 08:23] NiklasHogefjord commented on #146
Closing this since we haven't heard back from @DanielMarklund. Please feel free to re-open the issue it you still are experiencing issues with this.

[2021-09-01 08:23] #146 closed

[2021-09-01 10:35] DanielMarklund commented on #145
I have already sent more information to Billmate June 4th. Was sent to @OskarOstlund. I've been waiting for a solution on this.

[2021-09-01 10:54] DanielMarklund commented on #145
@OskarOstlund I have re-sent the information to your direct e-mail, with the title "Underlag till issue 145".

[2021-09-01 12:35] NiklasHogefjord commented on #145
Hi @DanielMarklund, did you send the logs for the entire purchase sequence? I would need to look into details here :)

[2021-09-09 08:18] NiklasHogefjord commented on #164
Closing this. Feel fre to re-open it if it still happens.

[2021-09-09 08:18] #164 closed

[2021-09-09 11:51] NiklasHogefjord commented on #160
Tested and works with SEK, EUR, DKK & NOK.

[2021-09-09 11:53] NiklasHogefjord commented on #150
Is this still an issue for you @DanielMarklund? We have released a couple of new versions and I can not reproduce this issue anymore.

[2021-09-09 11:54] NiklasHogefjord commented on #137
Closing tis since it isn't related to this plugin.

[2021-09-09 11:54] #137 closed

[2021-09-13 11:12] #132 closed

[2021-09-13 11:18] NiklasHogefjord commented on #130
After discussing this with Billmate we came to the conclusion to _not_ implement this at the moment.

The reason is that we already have tried to implement this feature with the result that the actual update of the Billmate iframe is happening _after_ we have triggered the unlock event. This was a user experience Billmate suggested we should avoid.

Currently we can not do anything to solve this f

[2021-09-13 11:18] #130 closed

[2021-09-17 07:17] OskarOstlund opened #166 "customer at times missing clarification what purchase was made."
![image](https://user-images.githubusercontent.com/58035708/133740289-95ee1177-745d-49b6-a84f-9a1c7bb6cce2.png)
As can be seen in the image above do we have a merchant that when she looks through her list of orders are there times where the exact method used to pay was excluded. As can be seen in the picture above is 49257, 49255, and 49253 listed with their appropriate payment method but 49256, a

[2021-09-17 08:50] NiklasHogefjord commented on #166
I'll look into this next week.

[2021-09-23 11:18] NiklasHogefjord commented on #160
Released in https://github.com/Billmate/billmate-checkout-for-woocommerce/releases/tag/1.4.0

[2021-09-23 11:18] #160 closed

[2021-09-23 11:55] NiklasHogefjord commented on #150
Closing this for now. Please feel free to re-open it if it happens again.

[2021-09-23 11:55] #150 closed

[2021-09-28 10:40] OskarOstlund opened #168 "If you change currency mid purchase will that result in different currencies in BO and the store."
![image](https://user-images.githubusercontent.com/58035708/135062268-b1021cac-74ac-410e-893e-dd563576642a.png)

If you start up a checkout and then in a separate tab go to the admin or through whatever method the store uses change the currency will billmate online show one currency, the one that you had chosen when you started the checkout. If you attempt to start a purchase with Sek for instance

[2021-10-04 07:28] DanielMarklund commented on #166
This is exactly the same issue we have (#145). Sometimes when this happens, we get contacted by customers who tells us that the checkout was stuck on loading and they didn't get an order confirmation to their e-mail.

[2021-10-04 09:05] kalorifri opened #169 "Include Cart.Total.withouttax not always match articles withouttax"
Cart.Total.withouttax is the sum of all articles.withouttax + Cart.Handling.withouttax + Cart.Shipping.withouttax.
In some cases, might be caused by rounding, it does not match and cause error 9107 on Billmate API end and Billmate Checkout can not be loaded.
In first example below, expected value of Cart.Total.withouttax is 95680
In second example below, expected value of Cart.Total.withouttax is

[2021-10-07 12:00] NiklasHogefjord commented on #166
Fixed and released in v 1.5.0.

[2021-10-07 12:00] #166 closed

[2021-10-07 12:00] NiklasHogefjord commented on #129
Fixed and released in v1.5.0

[2021-10-07 12:00] #129 closed

[2021-10-25 08:25] OskarOstlund opened #171 "Checkout->continue without PNO and then selecting trustly will redirect you back to the checkout"
If you attempt to continue without PNO and then select directpayment will the checkout reload itself

https://user-images.githubusercontent.com/58035708/138660683-2249ec91-1d48-4958-902d-792125346bcb.mp4

I have attached a customer that had the same issue and filmed it above and this can be seen at 2.00 this was something I was able to reproduce in my woocommerce store but not in the regular billm

[2021-11-04 12:03] NiklasHogefjord commented on #171
@OskarOstlund, I don't have access to Direct bank payment in my test account. I'll get in touch with you directly so we can sort this.

[2021-11-04 12:58] NiklasHogefjord commented on #168
Fixed and released.

[2021-11-04 12:58] #168 closed

[2021-11-22 13:12] NiklasHogefjord commented on #171
I've now tested with an account that have Direct bank payment. I'm not able to reproduce the issue @OskarOstlund

[2022-02-02 13:42] OskarOstlund opened #173 "Customer not redirected to woocommerce native module if country not allowed."
We have a merchant that has had an issue where they had a customer from the netherlands that tried to make a purchase, they had paypal enabled as a security for just this sort of thing but instead of getting redirected to the native woocommerce module were they shown our page with an error message.

Would a better approach in this case to automatically redirect the user to the native woocommerce m

[2022-03-08 12:50] kalorifri opened #174 "Use Total.rounding"
Use Total.rounding for rounding.
Today when different taxrates, total amounts could diff.
In that case, use Total.rounding.

See image below of error message:
![image](https://user-images.githubusercontent.com/11087406/157241416-2d58a09c-57bf-4739-87e2-a615a7e8f9ab.png)

[2022-03-10 13:05] OskarOstlund commented on #173
We need a discussion about exactly who can buy.

[2022-06-16 05:52] OskarOstlund opened #176 "Merchant gets link but cannot get redirected."
We have a merchant; https://www.sporttravel.se/

They use a plugin that creates the order, they then edit the order and send the URL to the user's checkout through an email with the final price, which causes some complications with the order.